body::-webkit-scrollbar {
  display: none;
}

.navbar {
  background-color: rgb(255, 94, 0) !important;
  height: 5rem !important;
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;
  transition: all 0.5s ease;
}

.navbar.hidden{
  transform: translateY(-100px);
}

.navbar.istop{
  background-color: transparent !important;
}

.navbar-content {
  padding-left: 8rem;
  padding-right: 8rem;
  height: 5rem !important;
  width: 100% !important;
}

.nav-link {
  color: white !important;
  font-weight: 400;
}

.nav-link.active .active-shower {
  opacity: 100% !important;
}

.nav-link .active-shower {
  opacity: 0 !important;
}

.active-shower {
  width: 100%;
  height: 10px;
  padding: 0;
  color: white !important;
  border-top: 5px solid white !important;
  margin: 0;
  margin-top: 0.15rem;
}

.banner {
  position: relative;
  height: 100vh;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}

.banner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
  z-index: 1;
}

.banner-text {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  transition: transform 0.1s ease-out;
  height: 100%;
}

.banner-text p {
  font-size: 100px;
  margin: 0 !important;
  color: white;
}

.banner-text small {
  color: white;
}

.content {
  margin-top: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.dropbtn {
  border: 2px solid grey;
  width: 10vw;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: transparent;
  border-radius: 20px;
}

.itemcard {
  background-color: white;
  border-radius: 10px;
  width: 20vw;
  box-shadow: 0 0 10px #888888;
  min-height: 348px;
  height: 348px;
  max-height: 348px;
}

.itemcard .date {
  margin-top: 1rem;
  color: grey;
  font-weight: 500;
  padding-left: 1rem;
  padding-right: 1rem;
}

.itemcard .title {
  padding-left: 1rem;
  color: black;
  padding-right: 1rem;
  font-size: 20px;
  margin-bottom: 1.25rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemcard.work .date {
  margin-bottom: 1rem;
  color: grey;
  font-weight: 500;
  padding-left: 1rem;
  padding-right: 1rem;
}

.itemcard.work .title {
  padding-left: 1rem;
  color: black;
  padding-right: 1rem;
  font-size: 20px;
  margin-top: 1rem;
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-img img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.content-bottom {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.pageination {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-left: 0 !important;
  justify-content: start;
}

.page-link {
  margin-right: 1rem;
  cursor: pointer !important;
}

.page-link-change {
  font-size: 30px;
  margin-right: 1rem;
  background-color: transparent;
  border: none !important;
  cursor: pointer !important;
}

.page-link.number {
  background-color: transparent;
  border-radius: 6px !important;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-right: 0.6rem;
  padding-left: 0.6rem;
  color: #6c757d !important;
}

.page-link.number.active {
  background-color: rgb(255, 94, 0) !important;
  color: white !important;
}

.page-link.number:hover {
  background-color: transparent !important;
  color: rgb(255, 94, 0) !important;
}

.page-link.number.active:hover {
  background-color: rgb(213, 78, 0) !important;
  color: white !important;
}

.page-link-change:hover {
  color: rgb(255, 94, 0);
}

.page-item.disabled .page-link-change:hover {
  color: rgba(16, 16, 16, 0.3);
}

.page-link.number:focus {
  background-color: transparent !important;
}

.page-link.number.active:focus {
  background-color: rgb(255, 94, 0) !important;
}

.submitbtn{
  background-color: rgb(255, 94, 0) !important;
  border-radius: 5px;
  color: white;
  border: none;
  width: 8vw;
  padding: 0.5rem;
}

.submitbtn:hover{
  background-color: rgb(202, 75, 2) !important;
}